.a{
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.529) ;
}
.a input{
    border-radius: 15px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(255, 38, 0);
    outline: none;
}
.a button{
    border-radius: 15px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(255, 38, 0);
    outline: none;;
}